  p{
    margin: 0 !important;
    padding: 0 !important;
  }
  .col-10{
    margin: 0 !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .b-form-tags{
    border: none !important;
    padding: 0 !important;
  }

  .badge-info{
    background-color: $color-primary !important; 
  }

  .profile-avatar{
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important;
  }

  .nav-tabs > .nav-item > a{
    color: $color-primary !important;
  }

.table{
  font-size: 12px !important;
  thead{
      tr{
        th{
          padding-top: 10px !important;
          min-width: 100px !important;
          &.pined{
            background-color: $color-primary !important;
            color: #fff !important;
          }
        }
      }
  }
  tbody{
      tr{
        td{
          &.pined{
            background-color: $color-primary !important;
            color: #fff !important;
          }
        }
      }
  }
}

  .table-header-menu {
    padding: 5px;
    border-radius: 50%;
    display: flex !important;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    transition: all .3s;
    &__icon{
      border: solid $color-primary;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);


    }
    &:focus{
      box-shadow: none !important;
    }
    &:hover{
      background-color: rgb(243, 243, 243) !important;
    }

  }

  .modal-header{
      background-color: $color-primary;
      color: #fff;
      .close{
        color: #fff;
        opacity: 1;
        &:hover{
          color: #fff;
          opacity: .7;
        }
      }
  }


  