.col-10, .row{
    margin: 0 !important;
  }

  .profile-avatar{
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important;
  }


  .nav-tabs > .nav-item > a{
    color: $color-primary !important;
  }