*{
    font-family: Avenir, Helvetica, Arial, sans-serif;
   &:focus{
       outline: none !important;
   }
}

.app{
    background-color: $color-terciary;
}

a:hover{
    text-decoration: none !important;
}