/*  icons */

.icon-dark{
    fill: $color-primary;
    cursor: pointer;
  }
.icon-small{
  width: 10px !important;
  height: 10px !important;
}

  .icon-light{
    fill: #fff;
    background-color: transparent !important;
    cursor: pointer;
  }