.button-primary{
    background-color: $color-primary !important;
  }

  .dropdown{
    width: 100%;
    border-bottom: 2px solid $color-primary;
    margin: 0 !important;
    padding-top: 15px;
  }
  
