.b-sidebar{
  width: 270px !important;
}

  .link{
    border-left: 4px solid transparent;
    color: $color-primary;
    margin-left: 0 !important;
    cursor: pointer;
      .badge{
          font-size: 12px;
          background-color: $color-primary;
          color: #fff;
          margin-left: auto;
          padding: 5px 6.5px !important;
      }
  }

  .link:hover,
  .router-link-active > .link,
  .router-link-exact-active > .link{
    border-left: 4px solid $color-primary !important;
    background-color: #ededf1;
    text-decoration: none !important;
    transition: all .3s;
  }